*.dll
*.lib
Update.exe
node_modules/**
www/assets/**
www/css/**
www/fonts/**
www/images/**
www/img/**
www/js/**
www/app.js
www/customizations.txt
www/manifest.json
www/manifest.mobile.json
www/ngrams.arpa.json